In [2]:
from urllib.request import urlopen
url = 'http://data.gdeltproject.org/gdeltv2/lastupdate.txt'
data = urlopen(url)
data.read()

b'50359 5cdcd15ca920887d02f6e80b5756c5b8 http://data.gdeltproject.org/gdeltv2/20210904133000.export.CSV.zip\n98080 02c8d4177d4a905c2f113f1ca36276d6 http://data.gdeltproject.org/gdeltv2/20210904133000.mentions.CSV.zip\n3815932 4d1477851e7094ff9154cb85aa91eebb http://data.gdeltproject.org/gdeltv2/20210904133000.gkg.csv.zip\n'

In [7]:
import requests

r = requests.get(url)
r.status_code

200

In [8]:
r.headers['content-type']

'text/plain'

In [9]:
r.encoding

'ISO-8859-1'

In [10]:
r.text

'50359 5cdcd15ca920887d02f6e80b5756c5b8 http://data.gdeltproject.org/gdeltv2/20210904133000.export.CSV.zip\n98080 02c8d4177d4a905c2f113f1ca36276d6 http://data.gdeltproject.org/gdeltv2/20210904133000.mentions.CSV.zip\n3815932 4d1477851e7094ff9154cb85aa91eebb http://data.gdeltproject.org/gdeltv2/20210904133000.gkg.csv.zip\n'

In [11]:
r.json()

JSONDecodeError: Extra data: line 1 column 7 (char 6)

In [49]:
import pandas as pd
import os
# import glob

In [52]:
path = '../temp/'
extension = 'csv'
os.chdir(path)
csv_files = glob.glob('*.{}'.format(extension))

In [53]:
print(csv_files)

['20210903121500.export.csv', '20210903120000.export.csv', '20210903140000.export.csv']

In [41]:
csv_files.sort(reverse=True)
print(csv_files)

['20210903140000.export.csv', '20210903121500.export.csv', '20210903120000.export.csv']

In [42]:
df = pd.read_csv(csv_files[0], sep='\t', header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,1002396647,20200903,202009,2020,2020.6658,NaN,NaN,NaN,NaN,NaN,...,1,China,CH,CH,NaN,35.000000,105.0000,CH,20210903140000,https://www.marketscreener.com/quote/stock/CHI...
1,1002396648,20200903,202009,2020,2020.6658,EDU,PUPIL,NaN,NaN,NaN,...,5,"Omusati, Omusati, Namibia",WA,WA36,42167,-18.333300,14.8333,311110,20210903140000,https://allafrica.com/stories/202109030652.html
2,1002396649,20200903,202009,2020,2020.6658,EDU,SCHOOL,NaN,NaN,NaN,...,4,"Windhoek, Khomas, Namibia",WA,WA21,22288,-22.570000,17.0836,-2587496,20210903140000,https://allafrica.com/stories/202109030652.html
3,1002396650,20200903,202009,2020,2020.6658,ELI,FIRST LADY,NaN,NaN,NaN,...,2,"Delaware, United States",US,USDE,NaN,39.349800,-75.5148,DE,20210903140000,https://www.dailymail.co.uk/news/article-99550...
4,1002396651,20200903,202009,2020,2020.6658,ELI,FIRST LADY,NaN,NaN,NaN,...,1,Singapore,SN,SN,NaN,1.366667,103.8000,SN,20210903140000,https://www.dailymail.co.uk/news/article-99550...

In [44]:
df.columns = df.columns.astype(str)

In [48]:
df.to_parquet('myfile.parquet')

In [1]:
# loop over the list of csv files
# for f in csv_files:
    
#     # read the csv file
#     df = pd.read_csv(f, sep='\t', header = None)
    
#     # print the location and filename
#     print('Location:', f)
#     print('File Name:', f.split("\\")[-1])
    
#     # print the content
#     print('Content:')
#     display(df)
#     print()

In [25]:
df = pd.read_csv('../temp/20210903140000.export.csv', sep='\t', header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,1002396647,20200903,202009,2020,2020.6658,NaN,NaN,NaN,NaN,NaN,...,1,China,CH,CH,NaN,35.000000,105.0000,CH,20210903140000,https://www.marketscreener.com/quote/stock/CHI...
1,1002396648,20200903,202009,2020,2020.6658,EDU,PUPIL,NaN,NaN,NaN,...,5,"Omusati, Omusati, Namibia",WA,WA36,42167,-18.333300,14.8333,311110,20210903140000,https://allafrica.com/stories/202109030652.html
2,1002396649,20200903,202009,2020,2020.6658,EDU,SCHOOL,NaN,NaN,NaN,...,4,"Windhoek, Khomas, Namibia",WA,WA21,22288,-22.570000,17.0836,-2587496,20210903140000,https://allafrica.com/stories/202109030652.html
3,1002396650,20200903,202009,2020,2020.6658,ELI,FIRST LADY,NaN,NaN,NaN,...,2,"Delaware, United States",US,USDE,NaN,39.349800,-75.5148,DE,20210903140000,https://www.dailymail.co.uk/news/article-99550...
4,1002396651,20200903,202009,2020,2020.6658,ELI,FIRST LADY,NaN,NaN,NaN,...,1,Singapore,SN,SN,NaN,1.366667,103.8000,SN,20210903140000,https://www.dailymail.co.uk/news/article-99550...

In [9]:
df.shape

(1546, 61)

In [12]:
df[60].nunique()

314

In [13]:
df[60].value_counts()

https://dnd.com.pk/osce-armenia-and-azerbaijan/252737                                                                                                         55
https://www.theepochtimes.com/raab-visits-pakistan-to-discuss-safe-passage-out-of-afghanistan_3979963.html                                                    36
https://www.dw.com/en/eu-escalates-row-with-gambia-over-expelled-migrants/a-59072367                                                                          24
https://english.wafa.ps/Pages/Details/125963                                                                                                                  23
https://www.tribuneindia.com/news/world/uk-foreign-secretary-sees-importance-in-engaging-with-taliban-306008                                                  23
                                                                                                                                                              ..
https://www.ctvnews.ca/politics/federal-election-2021/four-leaders-made-final-pitches-to-voters-after-heated-debate-1.5571893                                  1
https://www.chronicleonline.com/news/national/former-cardinal-mccarrick-pleads-not-guilty-to-sex-assault/article_5e1d9317-410a-5caa-a26f-6efc6033393a.html     1
https://phys.org/news/2021-09-nitrogen-efficient-wheats-food-greenhouse-gas.html                                                                               1
https://vancouversun.com/opinion/chris-selley-french-language-debate-was-a-showdown-between-two-visions-of-federalism                                          1
https://www.indiatoday.in/movies/regional-cinema/story/sai-pallavi-enjoys-the-breeze-in-coral-coloured-saree-shares-pics-1848946-2021-09-03                    1
Name: 60, Length: 314, dtype: int64

In [16]:
print(df[60][1])

https://allafrica.com/stories/202109030652.html

In [19]:
# df[df[60]=='https://dnd.com.pk/osce-armenia-and-azerbaijan/252737']

In [26]:
df = df.drop_duplicates()

In [27]:
df.shape

(1546, 61)

In [55]:
df_parquet = pd.read_parquet('../parquetfiles/updatedfile.parquet')
df_parquet.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,1002396647,20200903,202009,2020,2020.6658,None,None,None,None,None,...,1,China,CH,CH,None,35.000000,105.0000,CH,20210903140000,https://www.marketscreener.com/quote/stock/CHI...
1,1002396648,20200903,202009,2020,2020.6658,EDU,PUPIL,None,None,None,...,5,"Omusati, Omusati, Namibia",WA,WA36,42167,-18.333300,14.8333,311110,20210903140000,https://allafrica.com/stories/202109030652.html
2,1002396649,20200903,202009,2020,2020.6658,EDU,SCHOOL,None,None,None,...,4,"Windhoek, Khomas, Namibia",WA,WA21,22288,-22.570000,17.0836,-2587496,20210903140000,https://allafrica.com/stories/202109030652.html
3,1002396650,20200903,202009,2020,2020.6658,ELI,FIRST LADY,None,None,None,...,2,"Delaware, United States",US,USDE,None,39.349800,-75.5148,DE,20210903140000,https://www.dailymail.co.uk/news/article-99550...
4,1002396651,20200903,202009,2020,2020.6658,ELI,FIRST LADY,None,None,None,...,1,Singapore,SN,SN,None,1.366667,103.8000,SN,20210903140000,https://www.dailymail.co.uk/news/article-99550...